<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IndicatorBackgroundColorA" value="255" />
    <add key="IndicatorBackgroundColorR" value="192" />
    <add key="IndicatorBackgroundColorG" value="192" />
    <add key="IndicatorBackgroundColorB" value="192" />
    <add key="IndicatorTextColorA" value="255" />
    <add key="IndicatorTextColorR" value="0" />
    <add key="IndicatorTextColorG" value="0" />
    <add key="IndicatorTextColorB" value="0" />
    <add key="SoundBeep" value="False" />
  </appSettings>
</configuration>